#wrapper-div{
    width:80%;
}
#top-div{
    background-color: #000000;
    height:300px;
}
#middle-div{
    background-color: #110000;
    height:400px;
}
#bottom-div{
    background-color: #001100;
    height: 800px;
}