{{>layout/header}}
<div>
    <div id="wrapper-div">
        <div id="top-div">
            <div id="top-div-div">
                <label>코드등록</label>
                <input type="button" id="btn-code-search" name="btn-code-search" value="검색">
                <input type="button" id="btn-code-add" name="btn-code-add" value="추가">
                <input type="button" id="btn-code-delete" name="btn-code-delete" value="삭제">
                <input type="button" id="btn-code-save" name="btn-code-save" value="저장">
            </div>
        </div>
        <hr>
        <div id="middle-div">
            <div id="middle-div-div">
                <label>모듈명</label>
                <input type="text" id="module-name" name="module-name">
                <label>코드명</label>
                <select id="code-name-select" name="code-name-select">
                    {{#stsys_main_code}}
                    <option>{{code_nm}}</option>
                    {{/stsys_main_code}}
                </select>
            </div>
        </div>
        <div id="bottom-div">
            <div id="button-group">
                <input type="button" id="btn-dtl-add" name="btn-dtl-add" value="추가">
                <input type="button" id="btn-dtl-delete" name="btn-dtl-delete" value="삭제">
                <input type="button" id="btn-dtl-save" name="btn-dtl-save" value="저장">
            </div>
            <div id="tables">
                <div id="table_01">
                    <table id="left_table">
                        <tr>
                            <td></td>
                            <td>코드명</td>
                            <td>코드CD</td>
                            <td>사용유무</td>
                        </tr>
                        {{#stsys_main_code}}
                        <tr>
                            <td><input type="checkbox" id="check_code" name="check_code" value="{{code_id}}"></td>
                            <td><input type="text" id="code-nm" name="code-nm" value="{{code_nm}}"></td>
                            <td><input type="text" id="code-cd" name="code-cd" value="{{code_cd}}"></td>
                            <td><input type="text" id="code-yn" name="code-yn" value="{{code_yn}}"></td>
                        </tr>
                        {{/stsys_main_code}}
                    </table>
                </div>
                <div id="table_02">
                    <table id="right_table">
                        <tr>
                            <td></td>
                            <td>세부코드cd</td>
                            <td>세부코드명</td>
                            <td>사용유무</td>
                            <td>기타1</td>
                            <td>기타2</td>
                            <td>기타3</td>
                        </tr>
                        {{#stsys_main_code_dtl}}
                        <tr>
                            <td><input type="checkbox" id="code-dtl-check" name="code-dtl-check" value="{{code_dtl_id}}"></td>
                            <td><input type="text" id="code-dtl-cd" name="code-dtl-cd" value="{{code_dtl_cd}}"></td>
                            <td><input type="text" id="code-dtl-nm" name="code-dtl-nm" value="{{code_dtl_nm}}"></td>
                            <td><input type="text" id="code-dtl-yn" name="code-dtl-yn" value="{{code_dtl_yn}}"></td>
                            <td><input type="text" id="code-dtl-flag01" name="code-dtl-flag01" value="{{code_dtl_flag01}}"></td>
                            <td><input type="text" id="code-dtl-flag02" name="code-dtl-flag02" value="{{code_dtl_flag02}}"} }></td>
                            <td><input type="text" id="code-dtl-flag03" name="code-dtl-flag03" value="{{code_dtl_flag03}}"></td>
                        </tr>
                        {{/stsys_main_code_dtl}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}