{{>layout/header}}
<div>
    <div id="wrapper-div">
        <div id="top-div">
            <div id="top-div-div">
                <label>코드등록</label>
                <input type="button" id="search_button" name="search_button" value="검색">
                <input type="button" id="insert_button" name="insert_button" value="추가">
                <input type="button" id="delete_button" name="delete_button" value="삭제">
                <input type="button" id="save_button" name="save_button" value="저장">
            </div>
        </div>
        <hr>
        <div id="middle-div">
            <div id="middle-div-div">
                <label>모듈명</label>
                <input type="text" id="module-name" name="module-name">
                <label>코드명</label>
                <select id="code-name-select" name="code-name-select">
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
            </div>
        </div>
        <div id="bottom-div">
            <div id="button-group">
                <input type="button" id="insert_button" name="insert_button" value="추가">
                <input type="button" id="delete_button" name="delete_button" value="삭제">
                <input type="button" id="save_button" name="save_button" value="저장">
            </div>
            <div>
                <div id="table_01">
                    <table>
                        <tr>
                            <td></td>
                            <td>코드명</td>
                            <td>코드CD</td>
                            <td>사용유무</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="code-check" name="code-check"></td>
                            <td><input type="text" id="code-name" name="code-name"></td>
                            <td><input type="text" id="code-cd" name="code-cd"></td>
                            <td><input type="text" id="code-use" name="code-use"></td>
                        </tr>
                    </table>
                </div>
                <div id="table_02">
                    <table>
                        <tr>
                            <td></td>
                            <td>세부코드cd</td>
                            <td>세부코드명</td>
                            <td>사용유무</td>
                            <td>기타1</td>
                            <td>기타2</td>
                            <td>기타3</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="code-dtl-check" name="code-dtl-check"></td>
                            <td><input type="text" id="code-dtl-cd" name="code-dtl-cd"></td>
                            <td><input type="text" id="code-dtl-name" name="code-dtl-name"></td>
                            <td><input type="text" id="code-dtl-use" name="code-dtl-use"></td>
                            <td><input type="text" id="code-dtl-gt01" name="code-dtl-gt01"></td>
                            <td><input type="text" id="code-dtl-gt02" name="code-dtl-gt02"></td>
                            <td><input type="text" id="code-dtl-gt03" name="code-dtl-gt03"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}